@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  text-align: center;
  color: hsl(225, 20%, 60%);
  background-image: url(images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size:100vw 50vh;
  padding: 20px;
}

h1 {
  font-weight: 800;
}

h2 {
  font-size: 13px;
  font-weight: 600;
}

h3 {
  font-size: 13px;
  font-weight: 600;
}

a {
  color: hsl(226, 100%, 87%);
  text-decoration: none;
  font-weight: 600;
}

header {
  padding: 70px 0px;
  background-image: url(images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: absolute;
  background-size: 150px;
}

header h1 {
  font-size: 20px;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
  margin-bottom: 15px;
}

header h3 {
  font-size: 13px;
  line-height: 1.75em;
}

main {
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.09);
  margin: 20px auto;
  border-radius: 12px;
  padding: 40px 0px;
  max-width: 700px;
}

#slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  height: 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  /*background: hsl(224, 65%, 95%);
  background-image: linear-gradient(
    90deg,
    hsl(224, 65%, 95%) var(--thumbPosition),
    #10d5c2 var(--thumbPosition)
  );*/
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 5px hsl(174, 77%, 80%);
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #10d5c2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15px;
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: hsl(224, 65%, 95%);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: hsl(224, 65%, 95%);
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 5px hsl(174, 77%, 80%);
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: #10d5c2;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: hsl(174, 77%, 80%);
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: hsl(224, 65%, 95%);
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 5px hsl(174, 77%, 80%);
  border: 0px solid #000000;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: hsl(174, 77%, 80%);
  cursor: pointer;
}
/*
input[type="range"]:focus::-ms-fill-lower {
  background: hsl(174, 77%, 80%);
}
input[type="range"]:focus::-ms-fill-upper {
  background: hsl(224, 65%, 95%);
}
*/
section {
  margin: 40px;
}

#check-section {
  border-top: 1px solid hsl(223, 50%, 87%);
  margin: auto;
  padding: 30px;
  text-align: center;
}

#check-section h3 {
  margin: 10px;
  font-size: 12px;
}

#check-section span {
  margin: 0px 15px;
}

#price {
  color: hsl(227, 35%, 25%);
  font-size: 36px;
  font-weight: 800;
}

#billing-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 30px;
}

#billing-section h3 {
  font-size: 13px;
  margin: 20px 0px;
}

.discount {
  max-width: 90px;
  height: 20px;
  border-radius: 15px;
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  font-size: 13px;
  font-weight: 600;
  padding: 3px 8px;
}

#cta-button {
  background-color: hsl(227, 35%, 25%);
  max-width: 210px;
  max-height: 80px;
  margin: auto;
  border-radius: 30px;
  padding: 15px 0px;
  font-size: 13px;
  cursor: pointer;
}

/*toggle button from w3schools*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle {
  background-color: hsl(223, 50%, 87%);
}

input:focus + .toggle {
  box-shadow: 0 0 1px hsl(223, 50%, 87%);
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded toggles */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}


.attribution { 
  font-size: 11px; 
  text-align: center; 
}
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }